In [1]:
import sqlite3

In [2]:
arq_bd = 'ARA.sqlite'

In [20]:
def ultimo_vs(nm_livro, cap):
    with open('nr_vs_por_livro_cap.sql') as f:
        sql = f.read()
    with sqlite3.connect(arq_bd) as cnx:
        cursor = cnx.cursor()
        rs = cursor.execute(sql.format(nm_livro), (cap)).fetchall()
    return rs[0]

In [21]:
ultimo_vs('Gênesis', 50)

ValueError: parameters are of unsupported type

In [8]:
def txt_intervalo(nm_livro, cap, vs_ini, vs_fim):
    with open('intervalo_vs_msm_cap.sql') as f:
        sql = f.read()
    with sqlite3.connect(arq_bd) as cnx:
        cursor = cnx.cursor()
        rs = cursor.execute(sql.format(nm_livro), (cap, vs_ini, vs_fim)).fetchall()
    return rs

In [9]:
lista_rs = txt_intervalo('Gênesis', 1, 1, 1)

In [11]:
lista_rs

[(1, 'No princípio, criou Deus os céus e a terra.')]

In [10]:
txt = ''

In [13]:
txt

'1 No princípio, criou Deus os céus e a terra. '

In [12]:
for i in lista_rs:
    txt += str(i[0]) + ' ' + i[1].strip() + ' '